<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <title>Controle Representantes</title>
    <style type="text/css">
        body{margin: 0;font-family: 'Arial';font-size: 14px;padding: 0px 30px;}
        .conteudo_img{padding: 20px;text-align: center;background-color: #DC143C;}
        .conteudo_img img{max-width: 100%;}
        footer,footer a{color: #fff;}
        .texto{margin: 50px 0px;}
        a.link{}
    </style>
</head>
<body>
    <header>
        <div class="conteudo_img">
            <img src="../controle_representantes/view/images/logotipo.png" alt="Logotipo" />
        </div>
    </header>
    <div class="texto">
        Parabéns, seu cadastro foi liberado para acesso. Click no link abaixo e acesse a plataforma com seu e-mail e senha.
        <br />
        Link: <a class="link" href="http://www.lacsdevelope.com.br/controle_representantes/">http://www.lacsdevelope.com.br/controle_representantes/</a>
    </div>
    <footer>
        <div class="info">
            Diretório Reservado:  <a href="http://www.lacsdevelope.com.br/controle_representantes/">http://www.lacsdevelope.com.br/controle_representantes</a>
        </div>
    </footer>
</body>
</html>